@import './variables';

@mixin table-grid($cols) {
  display: grid;

  & > * {
    padding: 4px;
    border-bottom: 1px solid mat-color($foreground, divider);

    @for $i from 1 through $cols {
      &:nth-last-child(#{$i}) {
        border-bottom: none;
      }
    }
  }

  .header {
    font-size: 12px;
    font-weight: 500;
    color: mat-color($foreground, secondary-text);
  }

  .cell {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}
