.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ts-toolbar {
  z-index: 999;
}

.workspace {
  flex: 1;
  overflow: hidden;
}

ts-table {
  display: block;
  height: 100%;
}

.reset-navigation-button {
  position: absolute;
  right: 16px;
  top: #{64 + 16}px;
}

.add-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
