<ng-container *ngrxLet="$; let vm">
  <h2 mat-dialog-title>Scale the uploaded token images</h2>

  <mat-dialog-content>
    <div class="preview-wrapper">
      <div class="preview-canvas">
        <div class="preview-element">
          <img [src]="vm!.image" style.width="{{ vm!.scale }}%">
        </div>
      </div>
    </div>
    <mat-slider min="0" max="100" step="1" [value]="vm!.sliderValue"
      (input)="sliderInput.next($event)"
    >
    </mat-slider>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="button" mat-button (click)="backward.next()">Back</button>
    <button type="button" mat-button (click)="forward.next()">Proceed</button>
  </mat-dialog-actions>
</ng-container>
