.preview-wrapper {
  min-height: 300px;
  max-height: calc(65vh - 48px);
  overflow: hidden;
}

.preview-canvas {
  width: 10000px;
}

.preview-element {
  display: inline-block;
}

mat-slider {
  width: 100%;
}
