<ng-container *ngrxLet="$; let vm" [ngSwitch]="vm!.contentMode">
  <ts-token-upload *ngSwitchCase="'token-upload'"
    (backward)="cancel.next()"
    (forward)="switchContentMode.next('token-scaling')"
  >
  </ts-token-upload>
  <ts-token-scaling *ngSwitchCase="'token-scaling'"
    (backward)="switchContentMode.next('token-upload')"
    (forward)="switchContentMode.next('token-group-configuration')"
  >
  </ts-token-scaling>
  <ts-token-group-configuration *ngSwitchCase="'token-group-configuration'"
    (backward)="switchContentMode.next('token-scaling')"
    (forward)="complete.next()"
  >
  </ts-token-group-configuration>
</ng-container>
