<form [formGroup]="form">
  <h2 mat-dialog-title>Add tokens to the table</h2>

  <mat-dialog-content>
    <div class="grid">
      <ng-container>
        <div class="header">Token</div>
        <div class="header">Name</div>
        <div class="header">Amount</div>
        <div class="header"></div>
      </ng-container>
      <ng-container *ngFor="let token of form.controls; let i = index" [formGroup]="token">
        <div class="cell">
          <img class="token-image" src="{{ token.value.image }}">
        </div>
        <div class="cell">
          <mat-form-field>
            <input type="name" matInput formControlName="name">
          </mat-form-field>
        </div>
        <div class="cell">
          <mat-form-field>
            <input type="number" matInput formControlName="amount">
          </mat-form-field>
        </div>
        <div class="cell">
          <button mat-icon-button aria-label="Remove row">
            <mat-icon (click)="removeTokenAt(i)">delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true">Accept</button>
  </mat-dialog-actions>
</form>
